.feed-container{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.feed-left{
    margin-top: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.feed-contend{
    margin-top: 3rem;
    width: 40%;
    /* height: 100%; */
    background-color: red;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.feed-right{
    margin-top: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 900px){
    .feed-left{
        display: none;
    }
    .feed-contend{
        width: 100%;
    }
    .feed-right{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .feed-left{
        display: none;
    }
    .feed-contend{
        width: 100%;
    }
    .feed-right{
        display: none;
    }
}