.feed-container{
    width: 100vw;
    height: 300vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.popup-create-community{
    width: 30rem;
    height: 30rem;
    position: absolute;
    top:10rem;
    left: 50%;
    transform: translate(-50%,0);
    background-color: blue;
    z-index: 1;
}
.feed-left{
    margin-top: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 100vh;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.create-community-button{
    background-color: var(--tangerine);
    width: 2rem;
    height: 2rem;
    background-color:var(--tangerine);
    border: solid var(--tangerine) 0.2rem;
    border-radius: 50%;
    outline: none;
    color: var(--white);
    font-weight: bold;
    font-size: 1.1rem;
    transition: .3s;
    cursor: pointer;
    position: fixed;
    bottom: 2rem;
    left: 2rem;
}
.feed-contend{
    margin-top: 3rem;
    width: 40%;
    /* height: 100%; */
    background-color: red;
    /* background-color: var(--white); */
    display: flex;
    flex-direction: column;
    align-items: center;

}
.feed-right{
    margin-top: 3rem;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: var(--very-light-gray);
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 900px){
    .feed-left{
        display: none;
    }
    .feed-contend{
        width: 100%;
    }
    .feed-right{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .feed-left{
        display: none;
    }
    .feed-contend{
        width: 100%;
    }
    .feed-right{
        display: none;
    }
}