:root{
  --blizzard-blue:#9FE7F5;
  --boston-blue:#429EBD;
  --prussian-blue:#053F5C;
  --dark-tangerine:#F7AD19;
  --tangerine:#F27F0C;
  --white:#ffff;
  --very-light-gray:#e8e8e8;
  --light-gray:#c8c8c8;
  --medium-gray: #b4b4b4;
  --dark-gray:#101010;
  --error-red: #f44336
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
